services:
  - type: web
    name: wedding-planner-backend
    env: node
    rootDir: backend
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: CORS_PERMISSIVE
        value: "true"
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false